<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4" style="max-width: 500px; width: 100%;">
      <div class="mb-4 h2 text-success text-center">
        Reset Password
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
        <div class="mb-3">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Password" formControlName="password" />
          <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" id="showPassword" (change)="showPassword = !showPassword" />
            <label class="form-check-label" for="showPassword">Show password</label>
          </div>
          <div class="error-message" *ngIf="hasDisplayableError('password')">
            <div *ngIf="form.controls['password'].hasError('required')">Please enter your password.</div>
            <div *ngIf="form.controls['password'].hasError('minlength')">Password minimum length is 8.</div>
          </div>
        </div>
  
        <div class="mb-3">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Repeat password" formControlName="confirmPassword" />
          <div class="error-message" *ngIf="hasDisplayableError('confirmPassword')">
            <div *ngIf="form.controls['confirmPassword'].hasError('required')">Please confirm your password.</div>
            <div *ngIf="form.controls['confirmPassword'].hasError('passwordMismatch')">Passwords do not match.</div>
          </div>
        </div>
  
        <div class="mt-4">
          <button type="submit" class="btn btn-success w-100">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
  