<div class="container">
    <app-meal-filter (filterChanged)="onFilterChanged($event)"></app-meal-filter>
  
    <div class="meals-grid">
      <div class="meal-card" *ngFor="let meal of meals" (click)="goToMealInfo(meal.id)">
        <img [src]="transformImage(meal.imageUrl)" alt="{{ meal.name }}" class="meal-image" />
  
        <div class="meal-content">
          <h3>{{ meal.name }}</h3>
          <p><strong>{{ meal.price}} $</strong></p>
        </div>
      </div>
    </div>
  
    <div class="pagination">
        <button 
          (click)="currentPage > 1 && changePage(currentPage - 1)" 
          [disabled]="currentPage === 1" 
          class="pagination-button">
          <i class="fa fa-chevron-left"></i>
        </button>
        
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        
        <button 
          (click)="currentPage < totalPages && changePage(currentPage + 1)" 
          [disabled]="currentPage === totalPages" 
          class="pagination-button">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    
    <button class="back-button" (click)="onBack()">Back to cuisines</button>
      
  </div>
  
