<div class="meal-filters">

  <div  *ngIf='authContext.isAdmin' class="filter-section">
    <label for="cuisine">Cuisine</label>
    <select id="cuisine" [(ngModel)]="selectedCuisine">
      <option value="">All</option>
      <option *ngFor="let cuisine of cuisines" [value]="cuisine.id">{{ cuisine.name }}</option>
    </select>
  </div>

  <div class="filter-section">
    <label for="category">Category</label>
    <select id="category" [(ngModel)]="selectedCategory">
      <option value="">All</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>

  <div class="filter-section">
    <label for="tags">Tags</label>
    <select id="tags" multiple [(ngModel)]="selectedTags">
      <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.name }}</option>
    </select>
  </div>

  <div class="filter-section">
    <label for="minCalories">Min Calories</label>
    <input type="number" id="minCalories" [(ngModel)]="minCalories" />

    <label for="maxCalories" style="margin-top: 0.5rem;">Max Calories</label>
    <input type="number" id="maxCalories" [(ngModel)]="maxCalories" />
  </div>

  <div class="filter-section">
    <label for="minPrice">Min Price</label>
    <input type="number" id="minPrice" [(ngModel)]="minPrice" />

    <label for="maxPrice" style="margin-top: 0.5rem;">Max Price</label>
    <input type="number" id="maxPrice" [(ngModel)]="maxPrice" />
  </div>

  <div *ngIf="authContext.isAdmin" class="filter-section" style="justify-content: center;">
    <label class="checkbox-label">
      <input type="checkbox" [(ngModel)]="isAvailable"/>
      Only available meals
    </label>
  </div>

  <div class="filter-section filter-actions">
    <button (click)="applyFilters()">Apply</button>
    <button (click)="resetFilters()">Reset</button>
  </div>
</div>
