<div class="container mt-5 d-flex justify-content-center">
  <div class="card p-4" style="max-width: 500px; width: 100%;">
    <div class="mb-4 h2 text-success text-center">
      Sign Up
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input class="form-control" placeholder="Name" formControlName="name" />
        <div class="error-message" *ngIf="hasDisplayableError('name')">
          <div *ngIf="form.controls['name'].hasError('required')"></div> Please enter your name.</div>
        </div>

      <div class="mb-3">
        <input class="form-control" placeholder="Email" formControlName="email" />
        <div class="error-message" *ngIf="hasDisplayableError('email')">
          <div *ngIf="form.controls['email'].hasError('required')">Please enter your email address.</div>
          <div *ngIf="form.controls['email'].hasError('invalidEmail')">Invalid email format.</div>
        </div>
      </div>

      <div class="mb-3">
        <input class="form-control" placeholder="Phone number" formControlName="phoneNumber" required />
        <div class="error-message" *ngIf="hasDisplayableError('phoneNumber')">
          <div *ngIf="form.controls['phoneNumber'].hasError('required')">Please enter your phone number.</div>
          <div *ngIf="form.controls['phoneNumber'].hasError('invalidPhone')">Phone number must be between 10 and 15 digits.</div>
        </div>
      </div>

      <div class="mb-3">
        <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Password" formControlName="password" />
        <div class="form-check mt-2">
          <input type="checkbox" class="form-check-input" id="showPassword" (change)="showPassword = !showPassword" />
          <label class="form-check-label" for="showPassword">Show password</label>
        </div>

        <div class="error-message" *ngIf="hasDisplayableError('password')">
          <div *ngIf="form.controls['password'].hasError('required')">Please enter your password.</div>
          <div *ngIf="form.controls['password'].hasError('minlength')">Password minimum length is 8.</div>
        </div>
      </div>

      <div class="mb-3">
        <select class="form-control" formControlName="role" required>
          <option value="" disabled>Select Role</option>
          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
      </div>

      <div class="mt-4">
        <button type="submit" class="btn btn-success w-100">Register</button>
      </div>
    </form>
  </div>
</div>
